repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [ pyi ]
        pass_filenames: false
        require_serial: true
        args: [
          "flask_smorest-stubs",
          "--show-error-codes",
          "--namespace-packages",
          "--show-traceback",
          "--no-implicit-optional",
          "--disallow-any-generics",
          "--warn-incomplete-stub",
        ]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        exclude: setup.py
        args: [
          "--line-length=120",
          "--skip-magic-trailing-comma",
        ]
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        exclude: setup.py
        args: [
            "--application-directories=flask_smorest-stubs"
        ]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: [
          "--ignore=E501",
          "--filename=**.py **.pyi",
        ]
        files: .pyi
        types:
          - pyi
        additional_dependencies: [
          flake8-bugbear==25.11.29,
          flake8-pyi==25.5.0,
        ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-aws-credentials
        args: [ "--allow-missing-credentials" ]
      - id: detect-private-key
