[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"
# If you edit this file, run `pipenv-setup sync --pipfile --dev` afterwards

[dev-packages]
types-flask = "==1.1.6"
marshmallow  = "==3.15.0"
apispec  = "==5.2.2"
flask = "==2.1.2"
werkzeug = "==2.1.2"

mypy = "==0.950"
pipenv-setup = "==3.2.0"
twine = "==4.0.0"

[requires]
python_version = "3.9"
